<h2>Received messages:</h2>
<div #messagesContainer class="messages box yellow">
  <p *ngFor="let msg of messages" class="notification is-secondary" [ngClass]="{'is-warning' : msg.author==='Server'}">
    ({{msg.author}})
    {{msg.message}} ({{msg.newDate}})</p>
</div>
<div class="messageComposing box">
  <h2>New message:</h2>
    <div class="input-group col-xs-8">
              <input
              [(ngModel)]="message.author"
              name="author"
              type="text"
              class="form-control input"
              placeholder="Your Name">
              <input
                  [(ngModel)]="message.message"
                  name="msg"
                  type="text"
                  class="form-control input"
                  placeholder="message...">
              <span class="input-group-btn">
                  <button
                      class="button is-warning"
                      (click)="sendMsg()">send</button>
              </span>
          </div>
</div>
